body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(170, 95, 95);
  color: #333;
}
header {
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 50px;
  background-size: cover;
}
header h1 {
  font-size: 4.0em;
  margin: 10px 0;
  color: rgb(255, 255, 255);
}
  main {
    float: left;
    max-width: 1200px;
    margin-left: 15px;
    padding: 0px;
    color: #000000;
  }
  main h2 {
    font-style: italic;
    font-size: larger;
    margin: 80px 60ox;
  }
  main p {
  font-family: Arial, sans-serif;
  font-size: large;
  margin: 20px;
  padding: 0;
  color: #000000;
  }
.ABOUT {
  margin-bottom: 120px;
  float: left;

}
.BACKGROUND {
  margin-bottom: 120px;
  float: left;
}
  nav {
    margin-left: 43%;
  }
  
  .active {
    float: left;
  }
  .passive {
    float: left;
  }
  .sasive {
    float: left;
  }
  nav a {
    clear: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  nav a:hover {
    background-color: rgb(170, 95, 95);
    color: black;
  }
  
  div {
    color: #000000;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  img {
    margin: auto;
  }